<div class="row">
    <div class="col-12"></div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <mat-card>
            <h2>
                <button class="btn-info" mat-icon-button routerLink="/medico">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                {{ title }} Médicos
            </h2>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <mat-card>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="medico.primeiroNome" matInput placeholder="Primeiro Nome"
                               name="primeiroNome">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="medico.ultimoNome" matInput placeholder="Último Nome" name="ultimoNome">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-form-field>
                        <mat-select placeholder="Especialidade" [(ngModel)]="medico.especialidade" [compareWith]="compararSelect">
                            <mat-option>Nenhuma Especialidade selecionada</mat-option>
                            <mat-option *ngFor="let especialidade of especialidades" [value]="especialidade">
                                {{ especialidade.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="medico.email" matInput placeholder="Email" name="email">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-slide-toggle [(ngModel)]="medico.ativo">Ativo</mat-slide-toggle>
                </div>
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-slide-toggle [(ngModel)]="medico.status">Ocupado</mat-slide-toggle>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-form-field>
                        <mat-select placeholder="Estado" [(ngModel)]="ufSelecionada" [compareWith]="compararSelect" (selectionChange)="getCidades()">
                            <mat-option>Nenhuma UF selecionada</mat-option>
                            <mat-option *ngFor="let uf of ufs" [value]="uf">
                                {{ uf.sigla }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 py-3">
                    <mat-form-field>
                        <mat-select placeholder="Cidade" [(ngModel)]="medico.cidade" [compareWith]="compararSelect" [disabled]="!cidades.length">
                            <mat-option>Nenhuma Cidade selecionada</mat-option>
                            <mat-option *ngFor="let cidade of cidades" [value]="cidade">
                                {{ cidade.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-12 mt-3">
        <button class="btn-info" mat-raised-button routerLink="/medico">
            <i class="material-icons">keyboard_arrow_left</i>
            Voltar
        </button>
        <button class="btn-success" mat-raised-button (click)="salvarMedico()">
            <i class="material-icons">save</i>
            Salvar
        </button>
    </div>
</div>