<div class="" *ngIf="ctrl == 1">

	<h2 mat-dialog-title>Resetar a senha</h2>
	<mat-dialog-content class="">
		<p>Informe o Email utilizado no seu cadastro.</p>

		<mat-form-field class="w-100">
			<input matInput placeholder="Email" [(ngModel)]="usuarioEmail" (keyup.enter)="resetPassword()" [disabled]="loading">
		</mat-form-field>
		<p class="mb-3 mt-0 text-small text-muted text-center">Você receberá um email com instruções de como resetar a sua senha.</p>
	</mat-dialog-content>
	<mat-dialog-actions *ngIf="!loading">
		<button mat-raised-button class="btn-danger" mat-dialog-close tabindex="-1">Cancelar</button>
		<button mat-raised-button class="pull-right btn-success" tabindex="1" (click)="resetPassword()">Enviar</button>
	</mat-dialog-actions>
	<mat-dialog-actions *ngIf="loading">
		<in-loading [wSize]="40" [hSize]="40"></in-loading>
	</mat-dialog-actions>

</div>

<div class="animate fadeInDown" *ngIf="ctrl == 2">
	<h2 mat-dialog-title>Resetar a senha</h2>
	<mat-dialog-content class="">
		<p>Informe o código de segurança enviado por email para resetar sua senha.</p>

		<mat-form-field class="w-100">
			<input matInput placeholder="Código de segurança" [(ngModel)]="usuarioToken">
		</mat-form-field>
		<p class="mb-3 mt-0 text-small text-muted text-center">Caso esteja com problemas, entre em contato: <a href="mailto:contato@royale-sports.com">contato@royale-sports.com</a></p>
	</mat-dialog-content>
	<mat-dialog-actions *ngIf="!loading">
		<button mat-raised-button class="btn-danger" mat-dialog-close tabindex="-1">Cancelar</button>
		<button mat-raised-button class="pull-right btn-success" tabindex="1" (click)="validateToken()">Enviar</button>
	</mat-dialog-actions>
	<mat-dialog-actions *ngIf="loading">
		<in-loading [wSize]="40" [hSize]="40"></in-loading>
	</mat-dialog-actions>
</div>

<div class="animate fadeInDown" *ngIf="ctrl == 3">
	<h2 mat-dialog-title>Informe a nova senha</h2>
	<mat-dialog-content class="">
		<p>Você está alterando a senha do email: <span class="text-primary">{{currentEmail}}</span>.</p>

		<mat-form-field class="w-100">
			<input matInput placeholder="Código de segurança" [(ngModel)]="usuarioToken">
		</mat-form-field>

		<mat-form-field class="w-100">
			<input type="password" matInput placeholder="Nova senha" [(ngModel)]="newPassword">
		</mat-form-field>
		<mat-form-field class="w-100">
			<input type="password" matInput placeholder="Confirme a nova senha" [(ngModel)]="confNewPassword" (keyup.enter)="sendPassword()">
		</mat-form-field>
		<p class="mb-3 mt-0 text-small text-muted text-center">Caso esteja com problemas, entre em contato: <a href="mailto:contato@royale-sports.com">contato@royale-sports.com</a></p>
	</mat-dialog-content>
	<mat-dialog-actions *ngIf="!loading">
		<button mat-raised-button class="btn-danger" mat-dialog-close tabindex="-1">Cancelar</button>
		<button mat-raised-button class="pull-right btn-success" tabindex="1" (click)="sendPassword()">Enviar</button>
	</mat-dialog-actions>
	<mat-dialog-actions *ngIf="loading">
		<in-loading [wSize]="40" [hSize]="40"></in-loading>
	</mat-dialog-actions>
</div>